<div class="breadcrumb">
  <h1>System Settings</h1>
  <ul>
    <li>
      <a routerLink="/product" routerLinkActive="router-link-active">Setting</a>
    </li>
    <li>System Settings</li>
  </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-12">
      <div class="card-header">System Settings</div>
      <div class="card-body">
        <form [formGroup]="form">
          <div class="row">
            <div style="display: flex; flex-direction: row; width: 100%">
              <div class="col-md-4 form-group mb-3">
                <label for="picker1">Default Currency</label>
                <ng-select
                  class="ngSelectCustom"
                  [items]="currencies"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="Currency"
                  autocomplete="off"
                  formControlName="currency_id"
                ></ng-select>
                <errors [control]="f.currency_id" [isSubmit]="isSubmitted"></errors>
              </div>
              <div class="col-md-4 form-group mb-3">
                <label for="lastName">Default Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Email"
                formControlName="email"
                />
                <errors [control]="f.email" [isSubmit]="isSubmitted"></errors>
              </div>
              <div class="col-md-4 form-group mb-3">
                <label for="lastName">Change Logo</label>
                <input
                  type="file"
                  (click)="$event.target.value = null"
                  (change)="patchImage($event)"
                  class="form-control-file"
                />
              </div>
            </div>
            <div style="display: flex; flex-direction: row; width: 100%">
              <div class="col-md-4 form-group mb-3">
                <label for="firstName">Company Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="CompanyName"
                  placeholder="Company Name"
                  formControlName="CompanyName"
                />
                <errors [control]="f.CompanyName" [isSubmit]="isSubmitted"></errors>
              </div>

              <div class="col-md-4 form-group mb-3">
                <label for="picker1">Company Phone</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="CompanyPhone"
                  placeholder="Company Phone"
                  id="CompanyPhone" 
                  appNumericOnly
                />
                <errors [control]="f.CompanyPhone" [isSubmit]="isSubmitted"></errors>
              </div>

              <div class="col-md-4 form-group mb-3">
                <label for="picker1">Company Address</label>
                <input
                  type="text"
                  class="form-control"
                  id="CompanyAddress"
                  placeholder="Company Address"
                  formControlName="CompanyAddress"
                />
                <errors [control]="f.CompanyAddress" [isSubmit]="isSubmitted"></errors>
              </div>
            </div>
            <div style="display: flex; flex-direction: row; width: 100%">
              <div class="col-md-4 form-group mb-3">
                <label for="firstName">footer</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Footer"
                  formControlName="footer"
                />
                <errors [control]="f.footer" [isSubmit]="isSubmitted"></errors>
              </div>

              <div class="col-md-4 form-group mb-3">
                <label for="picker1">Default Customer</label>
                <ng-select
                  class="ngSelectCustom"
                  [items]="customers"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="Customer"
                  autocomplete="off"
                  formControlName="client_id"
                ></ng-select>
                <errors [control]="f.client_id" [isSubmit]="isSubmitted"></errors>
              </div>
              <div class="col-md-4 form-group mb-3">
                <label for="picker1">Default Warehouse</label>
                <ng-select
                  class="ngSelectCustom"
                  [items]="warehouses"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="Warehouse"
                  autocomplete="off"
                  formControlName="warehouse_id"
                ></ng-select>
                <errors [control]="f.warehouse_id" [isSubmit]="isSubmitted"></errors>
              </div>
            </div>
            <div style="display: flex; flex-direction: row; width: 100%">
              <div class="col-md-4 form-group mb-3">
                <label for="firstName">Default Language</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Default Language"
                  formControlName="default_language"
                />
                <errors [control]="f.default_language" [isSubmit]="isSubmitted"></errors>
              </div>
              <div class="col-md-4 form-group mb-3">
                <label for="picker1">Developed By</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="developed_by"
                  placeholder="Developed By"
                />
                <errors [control]="f.developed_by" [isSubmit]="isSubmitted"></errors>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">Smtp Configuration</div>
      <div class="card-body">
        <form>
          <div class="row">
            <div style="display: flex; flex-direction: row; width: 100%">
              <div class="col-md-4 form-group mb-3">
                <label for="lastName">Host</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  placeholder="Enter your last name"
                />
              </div>
              <div class="col-md-4 form-group mb-3">
                <label for="lastName">Host</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  placeholder="Enter your last name"
                />
              </div>
              <div class="col-md-4 form-group mb-3">
                <label for="lastName">UserName</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  placeholder="Enter your last name"
                />
              </div>
            </div>
            <div style="display: flex; flex-direction: row; width: 100%">
              <div class="col-md-4 form-group mb-3">
                <label for="firstName">Passoword</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="Enter your first name"
                />
              </div>

              <div class="col-md-4 form-group mb-3">
                <label for="picker1">Encryption</label>
                <input type="text" class="form-control" id="firstName" />
              </div>
            </div>
            <button
              type="button"
              class="btn btn-primary ml-3"
              (click)="onSubmit()"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="card mt-4" style="padding: 20px">
      <div class="card-header">Clear Cache</div>
      <button style="width: 10%" type="button" class="btn btn-primary mt-3">
        Clear Cache
      </button>
    </div>
  </div>
</div>
