.btn1::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  right: 5px;
  top: 38%;
  margin-bottom: -7px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #606266;
  border-bottom: 5px solid #606266;
}
.footer__navigation {
  display: flex !important;
  align-items: center !important;
}
.magnifying-glass {
  margin-top: 3px;
  margin-left: 8px;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #494949;
  position: relative;
  margin-right: 20px;
  border-radius: 50%;
}
.magnifying-glass::before{
    content: "";
    display: block;
    position: absolute;
    right: -7px;
    bottom: -5px;
    background: #494949;
    width: 8px;
    height: 4px;
    border-radius: 2px;
    transform: rotate(
45deg
);
    -webkit-transform: rotate(
45deg
);
}
.btn1::a {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  right: 50px;
  top: 38%;
  margin-bottom: -7px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #606266;
  border-bottom: 5px solid #606266;
}


.dataTables_wrapper.form-inline {
  width: 100% !important;
  display: block;
  margin-top:33px;
}

#htmlData_length, #htmlData_filter {
  display: none;
}

#htmlData_wrapper table.dataTable thead .sorting_asc:after {
  opacity: .0;
}
#htmlData_wrapper table.dataTable thead .sorting_asc {
  background-image: none !important;
}
#htmlData_wrapper table.dataTable thead .sorting {
  background-image: none !important;
}
#htmlData_wrapper table.dataTable thead .sorting:after {
  opacity: .0;
}
#htmlData_wrapper table.dataTable thead th, #htmlData_wrapper table.dataTable thead td {
  padding: 10px 11px;
  border-bottom: 1px solid #111;
}
#htmlData_wrapper table.dataTable thead th, table.dataTable thead td {
  padding: 10px 11px;
}
#DataTables_Table_0_wrapper table.dataTable thead th:last-child {
  text-align: right;
}
#htmlData_wrapper table.dataTable thead th:nth-child(1) {
  width: 4% !important;
}
#htmlData_wrapper table.dataTable thead th:last-child {
  text-align: right;
  padding-right:28px;
}
#htmlData_wrapper table.dataTable tbody td:last-child {
  text-align: right;
}
#htmlData_wrapper .dataTables_info, #htmlData_wrapper .dataTables_paginate 
{
  display:none;
}