<div class="breadcrumb">
  <h1>{{ "TRANSFER.CREATE" | translate }}</h1>
  <ul>
    <li>
      <a routerLink="/adjustment" routerLinkActive="router-link-active">{{
        "TRANSFER.NAME" | translate
      }}</a>
    </li>
    <li>{{ "TRANSFER.CREATE" | translate }}</li>
  </ul>
</div>

<div class="separator-breadcrumb border-top"></div>
<form class="row" [formGroup]="form">
  <div class="col-md-12">
    <div class="card mb-4" style="display: flex">
      <div style="display: flex; flex-direction: row" class="mt-2">
        <div class="col-md-4 form-group mb-3">
          <label for="picker1">{{ "COMMON.DATE" | translate }}</label>
          <div class="input-group">
            <input
              id="picker1"
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              ngbDatepicker
              #dp="ngbDatepicker"
              (dateSelect)="onDateSelect($event)"
              [value]="date | date"
              readonly
            />
            <div class="input-group-append">
              <button
                class="btn btn-secondary"
                (click)="dp.toggle()"
                type="button"
              >
                <i class="icon-regular i-Calendar-4"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4 form-group mb-3">
          <label for="picker1">{{ "COMMON.FROM" | translate }}</label>
          <ng-select
            class="ngSelectCustom"
            [items]="warehouses"
            bindLabel="name"
            bindValue="id"
            placeholder="From Warehouse"
            autocomplete="off"
            formControlName="from_warehouse_id"
          ></ng-select>
          <errors
            [control]="f.from_warehouse_id"
            [isSubmit]="isSubmitted"
          ></errors>
        </div>

        <div class="col-md-4 form-group mb-3">
          <label for="picker1">{{ "COMMON.TO" | translate }}</label>
          <ng-select
            class="ngSelectCustom"
            [items]="warehouses"
            bindLabel="name"
            bindValue="id"
            placeholder="To Warehouse"
            autocomplete="off"
            formControlName="to_warehouse_id"
          ></ng-select>
          <errors
            [control]="f.to_warehouse_id"
            [isSubmit]="isSubmitted"
          ></errors>
        </div>
      </div>
      <div style="margin: 10px">
        <!-- <input
          type="text"
          placeholder="Search by Product code or name"
          class="form-control mb-2 ml-1 mr-1"
          [(ngModel)]="search"
          [ngModelOptions]="{ standalone: true }"
          (input)="getProductsByFilter($event.target.value)"
        /> -->
        <mat-form-field
          class="example-full-width"
          appearance="fill"
          [style.width.%]="100"
        >
          <mat-label>Products</mat-label>
          <input
            type="text"
            placeholder="Scan/Search Product by Code Name"
            aria-label="Products"
            matInput
            [formControl]="productControl"
            [matAutocomplete]="auto"
            (click)="$event.target.value = null"
            (keydown.enter)="getProductsByFilter($event.target.value)"
          />
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="nullifySearch()"
            *ngIf="
              this.products.length > 0 && this.productControl.value !== null
            "
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of products"
              [value]="option.name"
              (click)="onSearchedItemClicked(option)"
            >
              <span>{{ option.name }}{{ option.code }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="inner">
        <table class="table">
          <thead class="bg-gray-300">
            <tr>
              <th scope="col">{{ "PRODUCT.PRODUCT" | translate }}</th>
              <th scope="col">{{ "COMMON.NET_COST" | translate }}</th>
              <th scope="col">{{ "COMMON.STOCK" | translate }}</th>
              <th scope="col">{{ "COMMON.QTY" | translate }}</th>
              <th scope="col">{{ "COMMON.DISCOUNT" | translate }}</th>
              <th scope="col">{{ "COMMON.TAX" | translate }}</th>
              <th scope="col">{{ "COMMON.SUBTOTAL" | translate }}</th>
              <th>x</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of searchedProducts; let i = index">
              <td>{{ product?.name }}</td>
              <td>{{ product?.cost | currency }}</td>
              <td>{{ product?.stock_alert || 0 }}</td>
              <td>
                <div class="dummyQuantity">
                  <div role="group" class="input-group">
                    <div class="input-group-prepend">
                      <button
                        class="btn btn-primary btn-sm"
                        (click)="decrement(product, i)"
                        [disabled]="
                          product?.stock_alert === 0 ||
                          product?.dummyQuantity === 0
                        "
                      >
                        -
                      </button>
                    </div>
                    <input
                      min="0"
                      type="number"
                      [id]="product?.id"
                      class="form-control"
                      [value]="product?.dummyQuantity"
                      (input)="manualIncrement($event.target.value, i)"
                      [disabled]="
                        product?.dummyQuantity === 0 ||
                        product?.stock_alert === 0
                      "
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-primary btn-sm"
                        (click)="increment(product, i)"
                        [disabled]="
                          product?.dummyQuantity === product?.stock_alert ||
                          product?.stock_alert === 0
                        "
                      >
                        +
                      </button>
                    </div>
                  </div>
                </div>
              </td>
              <td>{{ 0.0 | currency }}</td>
              <td>
                {{
                  product.dummyQuantity >= 1
                    ? (product?.TaxNet * product?.dummyQuantity || 0.0
                      | currency)
                    : (product?.TaxNet || 0.0 | currency)
                }}
              </td>
              <td>
                {{
                  (product?.cost + product?.TaxNet) * product.dummyQuantity ||
                    0.0 | currency
                }}
              </td>
              <td><button (click)="spliceProduct(i)">x</button></td>
            </tr>
          </tbody>
        </table>
        <div style="display: flex; justify-content: flex-end" class="mr-3">
          <table class="table table-striped table-sm" style="width: 30%">
            <tbody>
              <tr>
                <td class="bold">Order Tax</td>
                <td>
                  <span
                    >$
                    {{
                      ((this.grandTotal / 100) * +this.f.taxNet.value).toFixed(
                        2
                      ) || 0.0
                    }}
                    ( {{ this.f.taxNet.value }} %)</span
                  >
                </td>
              </tr>
              <tr>
                <td class="bold">Discount</td>
                <td>$ {{ this.f.discount.value || 0.0 }}</td>
              </tr>
              <tr>
                <td class="bold">Shipping</td>
                <td>$ {{ this.f.shipping.value || 0.0 }}</td>
              </tr>
              <tr>
                <td><span class="font-weight-bold">Grand Total</span></td>
                <td>
                  <span class="font-weight-bold">
                    {{
                      grandTotal +
                        +f.discount.value +
                        +f.shipping.value +
                        +((grandTotal / 100) * f.taxNet.value).toFixed(2)
                        | currency
                    }}</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="middle" style="display: flex; justify-content: flex-end">
        <div class="mb-3 col-sm-12 col-md-4 col-lg-4">
          <span
            ><fieldset class="form-group" id="__BVID__146">
              <legend
                tabindex="-1"
                class="bv-no-focus-ring col-form-label pt-0"
                id="__BVID__146__BV_label_"
              >
                Order Tax
              </legend>
              <div>
                <div role="group" class="input-group">
                  <!----><input
                    type="text"
                    class="form-control"
                    aria-describedby="OrderTax-feedback"
                    label="Order Tax"
                    id="__BVID__147"
                    appNumericOnly
                    formControlName="taxNet"
                  />
                  <div class="input-group-append">
                    <div class="input-group-text">%</div>
                  </div>
                </div>
                <div id="OrderTax-feedback" class="invalid-feedback"></div>
                <!----><!----><!---->
              </div>
            </fieldset></span
          >
        </div>
        <div class="mb-3 col-sm-12 col-md-4 col-lg-4">
          <span
            ><fieldset class="form-group" id="__BVID__149">
              <legend
                tabindex="-1"
                class="bv-no-focus-ring col-form-label pt-0"
                id="__BVID__149__BV_label_"
              >
                Discount
              </legend>
              <div>
                <div role="group" class="input-group">
                  <!----><input
                    type="text"
                    class="form-control"
                    aria-describedby="Discount-feedback"
                    label="Discount"
                    id="__BVID__150"
                    appNumericOnly
                    formControlName="discount"
                  />
                  <div class="input-group-append">
                    <div class="input-group-text">$</div>
                  </div>
                </div>
                <div id="Discount-feedback" class="invalid-feedback"></div>
                <!----><!----><!---->
              </div>
            </fieldset></span
          >
        </div>
        <div class="mb-3 col-sm-12 col-md-4 col-lg-4">
          <span
            ><fieldset class="form-group" id="__BVID__152">
              <legend
                tabindex="-1"
                class="bv-no-focus-ring col-form-label pt-0"
                id="__BVID__152__BV_label_"
              >
                Shipping
              </legend>
              <div>
                <div role="group" class="input-group">
                  <!----><input
                    type="text"
                    class="form-control"
                    aria-describedby="Shipping-feedback"
                    label="Shipping"
                    id="__BVID__153"
                    appNumericOnly
                    formControlName="shipping"
                  />
                  <div class="input-group-append">
                    <div class="input-group-text">$</div>
                  </div>
                </div>
                <div id="Shipping-feedback" class="invalid-feedback"></div>
                <!----><!----><!---->
              </div>
            </fieldset></span
          >
        </div>
      </div>
      <label for="Status" style="margin: 10px; margin-bottom: -7px">{{
        "COMMON.STATUS" | translate
      }}</label>

      <ng-select
        class="ngSelectCustom"
        style="width: 375px !important; margin-left: 15px; margin-top: 12px"
        [items]="options"
        bindLabel="name"
        bindValue="name"
        placeholder="Status"
        autocomplete="off"
        formControlName="statut"
      ></ng-select>
      <div class="area">
        <div class="form-group" style="margin: 10px">
          <label for="comment">Note:</label>
          <textarea
            class="form-control"
            placeholder="A Few Word"
            rows="5"
            id="comment"
            formControlName="notes"
          ></textarea>
        </div>
      </div>
      <div class="submit" style="margin: 10px">
        <button type="button" class="btn btn-primary" (click)="onSubmit()">
          {{ "PRODUCT.SUBMIT" | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
<app-loaders *ngIf="isLoader"></app-loaders>
